# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env
.env.*

# TypeScript cache
*.tsbuildinfo

# Build output
dist/
build/

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
